#pledge
  .row20
    .page-header
      = render "pledge/form"
  .row
    .col-md-12
      .form-group
        %table.table.table-striped
          %thead
            %tr
              %th Name
              %th Pledge
              %th Messages
          %tbody
            %tr
              %td Rithy Thul
              %td $200
              %td I hope this pledge will make some small different.
            %tr
              %td Anonymous
              %td $350
              %td I hope this pledge will make some small different.

