#pledge
  .row20
    .page-header
      = render "pledge/form"
  .row
    .col-md-12
      .form-group
        %table.table.table-striped
          %thead
            %tr
              %th Name
              %th Pledge
              %th Messages
          %tbody
            - @data.each do |donator|
              %tr
                %td= donator.name
                %td= donator.pledge
                %td= donator.message