#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  .carousel-inner{:role => "listbox"}
    .item.active
      %img{:alt => "...", :src => "https://snapy-attachments.s3.amazonaws.com/shop/cover_photo/attachment/53f38b666c69367df8220000/ccb0d076-e474-4757-b09a-25f986803d38.jpg", :class => "img-responsive"}
        .carousel-caption
          %h3 ...
          %p ...
    .item
      %img{:alt => "...", :src => "https://snapy-attachments.s3.amazonaws.com/shop/cover_photo/attachment/53f38b666c69367df8220000/ccb0d076-e474-4757-b09a-25f986803d38.jpg", :class => "img-responsive"}
        .carousel-caption
          %h3 100 TO HELP 1000
          %p ...

  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right
    %span.sr-only Next
