#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
  .carousel-inner{:role => "listbox"}
    .item.active
      = image_tag "cycling.png", class: "img-responsive"
    .item
      = image_tag "cycling2.png", class: "img-responsive"
      / .carousel-caption
      /   %h3 100 TO HELP 1000
      /   %p ...

  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right
    %span.sr-only Next
