%h2 Planting the Seed of a New Idea
.row20
  %p A couple months ago, Rithy, Sila and a few others scheduled some time together to catch-up as old friends to talk about cycling experiences and things they’ve done together. Sila mentioned that he wanted to challenge himself to something memorable and meaningful this year for his birthday, and so we spoke about having a long distance cycling marathon race.

.row20
  %p Sila has dreamed of a long distance cycling marathon for many years, and has often asked friends to join with him for at least part of his rides. After our talk, we all laughed and were excited about planning such an endurance marathon for Sila’s birthday challenge.

.row20
  %p Now the way we feel we can make our long distance marathon meaningful is to raise money for charity to help Cambodian students, so we each agreed that a good organization for which to raise funds would be the PEPY organization. PEPY is a Cambodian based NGO with a focus on education and youth empowerment in the Kralanh District of Siem Reap Province.

.row20
  %p We decided to help PEPY because we want to create more scholarship opportunities for Cambodian students.

%h2 <strong><i>“Let’s do it PEOPLE!”</i></strong>
.row20
  %p We call our campaign “Let’s do it PEOPLE!”  and we want to join together with you! “Let’s do it PEOPLE!” is an extension of “Let’s do it! Phnom Penh”, our annual citywide litter clean up campaign. “Let’s do it PEOPLE!” is all about doing what we dream to do, and do it NOW. <strong><i> “Doing what you dream to do NOW”</i></strong> is what we aim to help everyone do for themselves.

.row20
  %p Our challenge to everyone for this year is to <strong><i>“Burn Fat, Not Oil”,</i></strong> so we all want to get off our motorbikes and out of our automobiles a lot more often. We want to see our people and our culture stop <strong><i>waiting</i></strong> for things to happen, and start <strong><i>making</i></strong> things happen.

.row20
  %p We are serious, committed and excited about the philosophy of <strong><i>“Let’s do it!”,</i></strong> and want to get together with friends so we all can get behind great causes to help our people and nation. We know the road toward achieving our dream can be fun and rewarding, and at the same time we can make our journey both memorable  and meaningful.

%h2 What is the <strong><i>“Let’s do it PEOPLE!”</i></strong> campaign?
.row20
  %p Birthdays have too often have become only about growing up or growing old, so our campaign is about turning a birthday wish into something tangible and meaningful.

.row20
  %p We want to create a new awareness for every birthday celebration, not only for ourselves, but for everyone, and in our effort to build radical self-sufficiency and community interdependence, we want to help those students who need our support the most.


.row20
  %p We are challenging  ourselves to help Cambodian students acquire the education they need to build and  achieve far into the future.

%h2 Our Birthday Gif​t to You
.row20
  %p Both Rithy and Sila celebrate their birthday in November, just ten days apart.  Rithy turns 28 on November 9th, while Sila will be 40 on November 19th. Together and with your help we aim to raise $5,000 and hope​​fully much more.

.row20
  %p Today we have the chance ​f​or a double return on our ​f​undraising e​f​f​orts! PEPY has o​f​f​ered to donate “matched ​f​unds” ​f​or any money we can raise f​or Cambodian student scholarships.

.row20
  %p This means that i​f​ we raise $10,000 USD, PEPY organization will match our ​f​unds with an equal additional amount o​f​ $10,000 USD, ​f​or a total student scholarship ​f​und o​f​ $20, 000 USD. Raising $20, 000 USD means that we can sponsor ​f​our students, each  ​f​or three years.

%h2 Our Pledge and Challenge to You
.row20
  %p We challenge everyone to ride with us on a long distance bicycle marathon from Phnom Penh to Kampot, and then onto Sihanoukville, all 250 kilometers within 24 hours.

.row20
  %p There might be one or two out there who will be able to make it all the way with us, but if you can’t, we hope you’ll ride with us at least part of the way.

%row20
  %p We will depart from Phnom Penh on Monday, November 14th, 2014 at 4:00 AM from the Toul Kork Roundabout, and will be posting our route map soon.

%h2 How can you help?
.row20
  %p Make your pledge to ride or give today! <br /> Join us for the ride at:
  %p= link_to "http://www.letsdoitpp.com", "http://www.letsdoitpp.com"
  %p or cash donations to:
  %p= link_to "http://pepycambodia.org/support/donate/", "http://pepycambodia.org/support/donate/"
  %p Scholarship information:
  %p= link_to "http://pepycambodia.org/sponsor-scholarship/", "http://pepycambodia.org/sponsor-scholarship/"

%h2 Acknowledgements
.row20
  %p Let’s do it PEOPLE! is only made possible through emotional support provided by friends on the Phnom Penh Bicycling Team whose long list of names cannot be all mentioned here. Her are some names of our brotherhood; Ravy Khek, Youthy Young, Chhay Kouch, Tep Livina, Sokly Kouch, Chea Mengngy, Chhay Keak, Dara Keo, Ramady Moun, Khunnath Cheam, Sam Pouk, and many more.
