.row20
  %h1.text-center 250km Challenge
.row20
  %h3.text-center Phnom Penh - Kampot - Shihanouk Ville in One Day

.row20.page-header
  %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
.row20
  .text-center
    = link_to "Take the pledge", donors_path, class: "btn btn-success btn-lg"
.row20
  .text-center
    %p This is personal challenge
