#header-section
  .top-bar
    .container
      %h1#header-text Let's do it people
  .nav-bar
    .container
      %ul.list-inline
        %li= link_to "Challenge", root_path
        %li= link_to "Cause", "#"
        %li= link_to "Pledge", "#"
