#header-section
  .top-bar
    .container
      .row
        %h1#header-text
          =link_to "Let's do it people", root_path
    .nav-bar
      .container
        .row
          %ul.list-inline
            %li= link_to "Challenge", challenge_path
            %li= link_to "Cause", cause_path
            %li= link_to "Pledge", pledge_path
