#header-section
  .top-bar
    .container
      .row
        %h1#header-text Let's do it people
  .row20
    .nav-bar
      .container
        .row
          %ul.list-inline
            %li= link_to "Challenge", challenge_path
            %li= link_to "Cause", cause_path
            %li= link_to "Pledge", donors_path
